$font-family-root: 'Montserrat';
$color-primary: #4f4f4f;
$color-neutral-dark: #4f4f4f;
$color-neutral-medium: #9e9e9e;
$color-neutral-white: #fff;
$color-neutral-lightest: #ededed;
$color-brand-primary-darkest: #002c37;
$color-brand-primary-dark: #053542;
$color-brand-primary-medium: #0a4a5b;
$color-brand-secondary-medium: #0ea0c0;
$color-brand-primary-light: #11728b;
$color-feedback-danger-medium: #e6173e;
$fontweight-regular: 500;
$fontweight-bold: 700;
$fontweight-extra-bold: 900;
$fontsize-paragraph: 10px;
$fontsize-paragraph-02: 12px;
$fontsize-paragraph-03: 14px;
$fontsize-subtitle: 14px;
$fontsize-heading: 20px;