@import "./variables";

body,
html {
    margin: 0;
    font-family: $font-family-root;
    background-color: #f9f9f9;
}

.title {
    font-size: $fontsize-heading;
    text-transform: uppercase;
    font-weight: $fontweight-extra-bold;
    color: $color-brand-primary-dark;
}

.form-group {
    border-radius: 8px;
    border: 1px solid $color-neutral-lightest;
    background-color: $color-neutral-white;
    display: flex;
    flex-direction: column;
    padding: 9px 16px;
}

.label {
    color: $color-brand-primary-medium;
    font-weight: $fontweight-bold;
    font-size: $fontsize-paragraph;
    line-height: 150%;
}

.input {
    color: $color-brand-primary-medium;
    margin-top: 7px;
    font-weight: $fontweight-regular;
    font-size: $fontsize-paragraph-02;
    line-height: 150%;
    border: none;
    outline: none;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    opacity: 0;
    animation: showGradually 0.5s ease forwards;
}

.card-component {
    position: absolute;
    top: 154px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 0;
    animation: showGradually 1s ease 0.5s forwards;
}

@keyframes showGradually {
    from {
        opacity: 0;
        transform: 0%;
    }

    to {
        opacity: 1;
        transform: 100%;
    }
}