<nav>
  <app-header></app-header>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>

<!-- <div class="container">

  <div class="form-group">
    <label for="nome" class="label">Nome Cliente</label>
    <input type="text" class="input" placeholder="Digite o nome" />
  </div>
  <app-control-error
    controlErrorMessage="Por favor, insira um sobrenome"
  ></app-control-error>

  <app-button textButton="Adicionar Cliente"></app-button>
  <app-button textButton="Cancelar" [isPrimary]="false"></app-button>

  <app-table-list [clientes]="clientes"></app-table-list>

  <app-modal-message
    feedbackMessage="Cliente adicionado com sucesso!"
  ></app-modal-message>
  <app-modal-message
    feedbackMessage="Não foi possivel incluir o cliente"
    [successMessage]="false"
  ></app-modal-message>
</div> -->
